.navbar{
    display: inline-flex;
    border: 2px solid black;
    background-color: mediumseagreen;
    width: 100%;
    border-radius: 20px;
}
.navbar ul{
    display: inline-flex;
}
.navbar ul li{
    display: inline;
    padding-left: 22px;
    padding-right: 22px;
    /* border: 2px solid wheat; */
    border-radius: 12px;
    margin-right: 12px;
    list-style: none;

}
.navbar ul li a{
    margin-right: 12px;
    padding: 6px;
    text-decoration: none;
}
nav ul li a:hover{
    color: blanchedalmond;
    cursor: pointer;
    background-color: black;
    border-radius: 20px;
}
.ethernet-frame-head th{
    border: 1px solid black;
    border-collapse: collapse;
    color: darkred;
    font-size: 22px;
    
  }
  .ethernet h3{
    margin-bottom: 0px;
    color: bisque;
    background-color: chocolate;
    border-radius: 12px;
  }
  .ethernet p{
    margin-top: 0px;
    color: darkgreen;
  }
tr td {
    border: 1px solid rgb(74, 4, 4);
    border-radius: 10px;
    text-align: center;
    color: rgb(197, 222, 223);
    background-color: chocolate;
}
.networklayer-table tr td{
    font-size: 22px;
    border: 1px solid darkblue;
    background-color: rgb(4, 14, 46);
    color: antiquewhite;
}